@using System.Threading.Tasks
@using CarsInfoWeb.Models
@model CarsInfoWeb.Models.Car
@{
    ViewData["Title"] = "Cars";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<br/>

    <p> @Model.Make @Model.Model</p>



