@using System.Threading.Tasks
@using CarsInfoWeb.ViewModel
@model CarsInfoWeb.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form method="post" asp-action="Login" asp-controller="Account">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
        <span asp-validation-for="RememberMe"></span>
    </div>
    <div><p><input type="submit" value="Log In" /></p><p><a asp-action="Register">Register</a></p></div>
</form>
