@using System.Threading.Tasks
@using CarsInfoWeb.Models
@model IEnumerable<CarsInfoWeb.Models.Car>
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/bar1.jpg" alt="ASP.NET" class="img-responsive" />
            
        </div>
        <div class="item">
            <img src="~/images/bar2.jpg" alt="Visual Studio" class="img-responsive" />
           
        </div>
        <div class="item">
            <img src="~/images/bar3.jpg" alt="Package Management" class="img-responsive" />
           
        </div>
        <div class="item">
            <img src="~/images/bar4.jpg" alt="Microsoft Azure" class="img-responsive" />
           
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Latest added</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    @foreach (var car in @Model)
                    {
                        <div class="col-6 col-md-4">
                            <img src="~/users_uploads/@car.UserId/@car.Picture" class="car-picture" />
                            @car.Make @car.Model
                        </div>
                    }
                 </div>
            </div>
        </div>
    </div>

</section>

<hr />

<section id="find">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Find car</h2>
                <form method="post" data-form-output="form-output-global" class="rd-mailform text-left" novalidate="novalidate">

                    <div class="row">
                        <div class="col-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label form-label-outside rd-input-label focus not-empty">Make:</label>
                                <select id="form-car-search-make" name="make" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    <option value="1">Enter car make...</option>
                                    <option value="2">Audi</option>
                                    <option value="3">Acura</option>
                                    <option value="4">BMW</option>
                                    <option value="5">Chevrolet</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="form-group">
                                <label  class="form-label form-label-outside rd-input-label focus not-empty">Model:</label>
                                <select id="form-car-search-model" name="model" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    <option value="1">Enter model</option>
                                    <option value="2">x2 series</option>
                                    <option value="3">x3 series</option>
                                    <option value="4">x4 series</option>
                                    <option value="5">x5 series</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label form-label-outside rd-input-label focus not-empty">Body Type:</label>
                                <select id="form-car-search-body-type" name="body-type" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    <option value="1">Enter</option>
                                    <option value="2">Hatchback</option>
                                    <option value="3">Mini-MPVs</option>
                                    <option value="4">Crossovers</option>
                                    <option value="5">Coupes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        
                        <div class="col-sm-3 col-lg-2">
                            <div class="form-group">
                                <label class="form-label form-label-outside rd-input-label"> Min Year:</label>
                                <input id="form-car-search-min-year" type="text" name="min-year" placeholder="0" class="form-control form-control-has-validation form-control-last-child"><span class="form-validation"></span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-2">
                            <div class="form-group">
                                <label class="form-label form-label-outside rd-input-label"> Max Year:</label>
                                <input id="form-car-search-max-year" type="text" name="max-year" placeholder="0" class="form-control form-control-has-validation form-control-last-child"><span class="form-validation"></span>
                            </div>
                        </div>
            
                        <div class="col-sm-4 col-lg-4">
                            <div class="form-group">
                                <label class="form-label form-label-outside rd-input-label focus not-empty">Color</label>
                                <select id="form-quote-color" name="color" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    <option value="1">No</option>
                                    <option value="2">Black</option>
                                    <option value="3">White</option>
                                    <option value="4">Red</option>
                                    <option value="5">Blue</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-2">
                            <div class="form-group">
                                <label class="form-label form-label-outside rd-input-label"> Min Price:</label>
                                <input id="form-quote-height" type="text" name="height" placeholder="0" class="form-control form-control-has-validation form-control-last-child"><span class="form-validation"></span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-2">
                            <div class="form-group">
                                <label  class="form-label form-label-outside rd-input-label"> Max Price:</label>
                                <input id="form-quote-width" type="text" name="width" placeholder="1" class="form-control form-control-has-validation form-control-last-child"><span class="form-validation"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Search car</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</section>
