@using CarsInfoWeb.Models;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Title = "AdminPage";
}

<h2>Admin Login Page</h2>
@{ 
    //var user =  HttpContext.Session.GetString("user");
}
<h3>Welcome @user</h3>
@{
    
    @Html.ActionLink("Logout", "Logout", "Index")
}